sistema de alumnos/calificaciones/src/main/resources/calificacion.xsd

<?xml version="1.0"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="https://t4is.uv.mx/calificacion" xmlns:tns="https://t4is.uv.mx/calificacion" elementFormDefault="qualified">
 
  <xs:element name="Request">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="idAlumno" type="xs:int" />
          <xs:element name="bfc" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
   </xs:element>
  
  <xs:element name="Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="respuesta" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="BuscarRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="posicion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="BuscarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="respuesta" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="ModificarRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="posicion" type="xs:int" />
        <xs:element name="idAlumno" type="xs:string" />
          <xs:element name="bfc" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="ModificarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="respuesta" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="EliminarRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="posicion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="EliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="respuesta" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HistorialRequest">
  </xs:element>
  
  <xs:element name="HistorialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="respuesta" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>